.table1 {
	width: 1024px;
    height: 500px;	
	border: 0px solid black;
}  
.qqq {
	color: #32CD32;
}
h1 {
	color: #7FFFD4;
}
.site-slogan {
	font-size: 30px;
	color: #191970;
}
.note {
	background-color: 	;
	width: 250px;
    	
	border: 0px solid black;
	
}
.subvir {
	
}
h2 {
	color: #228B22;
}
.title {
      background-color: 	;
	width: 250px;
    height: 20px;	
	border: 0px solid black;
}











