.body {
	
width: 1024px;
height: 800px;	
border: 0px solid black;
text-align: right;
}








































































